mysql-connector-python
bs4
pymysql
certifi
chardet
colorama
configparser
idna
multi-key-dict
phonenumbers
psycopg2==2.8.5
pytest
python-dateutil
jenkinsapi
requests
SQLAlchemy
urllib3
wheel
twilio
mako
lxml
Flask
flask-login
google-api-python-client
python-utils
kafka-python
selenium
simplejson
pathlib
jsonschema
future
testrail
2to3
beautifultable
pytest-html
